<tr id='<%= expense_template.position %>'>
  <td><%= expense_template.view %></td>
  <% unless current_user.expired?( @now ) -%>
    <td><%= link_to t('button.edit'), edit_company_expense_template_path( @company, expense_template ), class: 'btn btn-warning' %></td>
    <td><%= link_to t('button.destroy'), company_expense_template_path( @company, expense_template ), method: :delete, confirm: t('Are you sure?'), class: 'btn btn-danger' %></td>
  <% end -%>
</tr>
