<h2 class='h2t'><%=t "#{@page_name}.title" %></h2>

<div class='mb-3'>
  <%= render 'form' %>
</div>

<%= link_to t('link.back'), company_expense_templates_path( @company ), class: 'btn btn-secondary' %>
