<div>
  <h2><%=t "#{@page_name}.title" %></h2>
</div>
<% unless current_user.expired?( @now ) -%>
  <p>
  <%= link_to t('link.new'), new_company_path, class: 'btn btn-primary' %>
  </p>
<% end -%>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @companies.each do |company| %>
    <div>
      <%= render "panel", company: company %>
    </div>
  <% end %>
</div>
