/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-datetimepicker
 *= require_tree .
 */

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

#ryohikitei {
  background-color: $cyan-300;
}

.text-explain {
  color: $cyan-700;
}

.text-yellow700{
  color: $yellow-700;
}

#signup_btn {
  color: white;
  background-color: $blue-400;
}

.navbar-nav {
  li {
    padding: 3px 7px;
  }
  li.active{
    background-color: $gray-300;
  }
}

.release_note {
  color: $orange-600;
}

.print-off {
  display: none;
}
