<% if flash[:notice] %>
  <div class='alert alert-success alert-dismissible'>
    <span id='flash_notice'><%= flash[:notice] %></span>
    <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='close'></button>
  </div>
<% elsif flash[:alert] %>
  <div class='alert alert-danger alert-dismissible'>
    <span id='flash_alert'><%= flash[:alert] %></span>
    <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='close'></button>
  </div>
<% end %>
